# Entornos virtuales
.venv/
venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Archivos locales
*.log
*.sqlite3

# Configuración local
.env
.env.*

# IDE
.vscode/
.idea/

# Solo para dev
docker-compose.dev.yml
Dockerfile.dev
